<div class="row">
    <div class="col-12">
        <h1>
            <i class="material-icons">dialpad</i>
                { title }
            <i class="material-icons">dialpad</i>
        </h1>
    </div>
</div>